@use "@global" as g;

.l-loading {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: var(--color-gradation3-reverse);
  opacity: 0;
  visibility: hidden;
  user-select: none;

  &.is-visible {
    visibility: visible;
    opacity: 1;
  }

  .l-loading__inner {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }
}
