/* >>> 課題1 - Sassで装飾してみよう */

// .listsクラスに対してulの標準ドットやpadding,marginを打ち消して、横並びにする

// .lists {
//   list-style: none;
//   padding: 0;
//   margin: 0;
//   display: flex;
//   gap: 10px;
// }
/* <<< 課題1 - Sassで装飾してみよう */

/* >>> 子要素の入れ子 */
// .lists {
//   list-style: none;
//   padding: 0;
//   margin: 0;
//   display: flex;

//   li {
//     width: 25%;
//     text-align: center;
//   }
// }
/* <<< 子要素の入れ子 */

/* >>> 孫要素の入れ子 */
.lists {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;

  li {
    width: 25%;
    text-align: center;

    a {
      color: #333;
      font-size: 16px;
    }
  }
}
/* <<< 孫要素の入れ子 */
