/* >>> 変数 */
$link-color-active: #da1e32;
$link-color-base: #333;
$link-font-size: 16px;
/* <<< 変数 */

/* >>> extend 定義したスタイルを使い回す */
.button {
  color: #333;
  font-size: 16px;
  display: inline-block;
  margin-top: 20px;
  padding: 8px 16px;
  border: 1px solid #333;
  text-decoration: none;
}
/* <<< extend 定義したスタイルを使い回す */

/* >>> mixin 引数を使ったスタイルの使いまわし */
@mixin button($font-size) {
  color: #333;
  font-size: $font-size;
  display: inline-block;
  margin-top: 20px;
  padding: 8px 16px;
  border: 1px solid #333;
  text-decoration: none;
}
/* <<< mixin 引数を使ったスタイルの使いまわし */

/* >>> 課題1 - Sassで装飾してみよう */

// .listsクラスに対してulの標準ドットやpadding,marginを打ち消して、横並びにする

// .lists {
//   list-style: none;
//   padding: 0;
//   margin: 0;
//   display: flex;
//   gap: 10px;
// }
/* <<< 課題1 - Sassで装飾してみよう */

/* >>> 子要素の入れ子 */
// .lists {
//   list-style: none;
//   padding: 0;
//   margin: 0;
//   display: flex;

//   li {
//     width: 25%;
//     text-align: center;
//   }
// }
/* <<< 子要素の入れ子 */

/* >>> 孫要素の入れ子 */
// .lists {
//   list-style: none;
//   padding: 0;
//   margin: 0;
//   display: flex;

//   li {
//     width: 25%;
//     text-align: center;

//     a {
//       color: #333;
//       font-size: 16px;
//     }
//   }
// }
/* <<< 孫要素の入れ子 */

/* >>> 疑似要素の書き方 */
.lists {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;

  li {
    width: 25%;
    text-align: center;

    a {
      color: $link-color-base;
      font-size: $link-font-size;
      // @extend .button;
      @include button(16px);

      &:hover {
        color: $link-color-active;
      }
      &.active {
        color: $link-color-active;
        font-size: $link-font-size + 10px;
      }
    }
  }
}

/* <<< 疑似要素の書き方 */
