@use "@global" as g;

.c-borderButton {
  display: inline-block;
  --_border-color: var(--color-primary);
  --_border-height: 1;
  --_color: var(--color-primary);
  --_bg-color: transparent;
  border: none;
  background: none;
  min-width: calc(158 * var(--rem));
  cursor: pointer;

  padding-block: calc((12 - var(--_border-height)) * var(--rem));
  padding-inline: calc(8 * var(--rem));
  border: 1px solid rgb(var(--_border-color));
  background: var(--_bg-color);
  color: rgb(var(--_color));
  font-size: calc(14 * var(--rem));
  font-weight: var(--font-weight-light);
  line-height: 1.7;
  letter-spacing: calc(0.14 / var(--letter-em));

  &[data-bg-color="base"] {
    background-color: rgb(var(--color-base));
  }

  @include g.mq(hover) {
    transition: 0.3s;
    &:hover {
      background-color: rgb(var(--color-primary));
      border-color: rgb(var(--color-primary));
      color: rgb(var(--color-base));
      letter-spacing: 0.1em;
    }
  }

  &:focus {
    outline-color: var(--focus-style-primary);
  }
}
