:root {
  --color-black: #333;
  --color-accent: #fabe00;
  --color-gradation-01: linear-gradient(90deg, #f5810e 0%, #fabe00 100%);
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  background-color: #f5f5f5;
}

main {
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 100px 40px;
  background-color: #fff;
}

.button-wrapper {
  margin-top: 30px;
}

.button-type1 {
  display: inline-block;
  color: var(--color-black);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.7;
  background: var(--color-accent);
  text-align: center;
  border-radius: 3px;
  padding: 10px 16px;
  min-width: 154px;
}

.button-type2 {
  display: inline-block;
  color: var(--color-black);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.7;
  padding: 10px 30px 10px 16px;
  position: relative;
  background: var(--color-accent);
  border-radius: 3px;
  min-width: 230px;
}
.button-type2::before {
  content: "";
  position: absolute;
  width: 7.5px;
  height: 11.5px;
  right: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../img/arrow.svg) no-repeat center center/contain;
}

.button-type3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 230px;
  border-radius: 30px;
  background: var(--color-accent);
  color: var(--color-black);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.7;
  padding: 10px 16px 10px 20px;
}
.button-type3::after {
  content: "";
  display: inline-block;
  width: 7.5px;
  height: 11.5px;
  background: url(../img/arrow.svg) no-repeat center center/contain;
  margin-left: 9.5px;
}

.button-type4 {
  display: inline-block;
  color: var(--color-black);
  font-size: 16px;
  min-width: 230px;
  font-weight: 700;
  line-height: 1.7;
  background: var(--color-accent);
  border-radius: 3px;
  padding: 10px 16px;
  -webkit-box-shadow: 0px 5px 0px 0px #e3a80e;
          box-shadow: 0px 5px 0px 0px #e3a80e;
}

.button-type5 {
  display: inline-block;
  color: var(--color-black);
  font-size: 16px;
  min-width: 230px;
  font-weight: 700;
  line-height: 1.7;
  background: var(--color-accent);
  border-radius: 3px;
  padding: 10px 16px;
  -webkit-box-shadow: 3px 3px 7px 0px #dcdcdc;
          box-shadow: 3px 3px 7px 0px #dcdcdc;
}

.button-type6 {
  display: inline-block;
  color: var(--color-black);
  font-size: 16px;
  min-width: 229px;
  font-weight: 700;
  line-height: 1.7;
  border-radius: 3px;
  padding: 10px 16px;
  background: var(--color-gradation-01);
  -webkit-filter: drop-shadow(3px 3px 7px rgba(220, 220, 220, 0.25));
          filter: drop-shadow(3px 3px 7px rgba(220, 220, 220, 0.25));
}