@use "../../global/" as g;

.flow {
  background-color: g.$bg-light;
}

.flow__list {
  margin-top: 64px;
  @include g.mq("pc") {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
}

.flow__item {
  position: relative;
  border: 1px solid g.$cl-border;
  padding: 46px 14px 24px;
}

.flow__item + .flow__item {
  margin-top: 46px;
  @include g.mq("pc") {
    margin: 0;
  }
}

.flow__item-num {
  position: absolute;
  top: -24px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background-color: g.$bg-dark;
  color: g.$white;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flow__item-img {
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  img {
  }
}

.flow__item-name {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.flow__item-text {
  font-size: 14px;
  line-height: 1.6;
}
