@use "@global" as g;

.c-button {
  display: inline-flex;
  padding: g.rem(9) g.rem(53);
  border-radius: g.rem(48);
  background-image: var(--color-gradation3);
  box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
  color: var(--color-white2);
  text-align: center;
  font-size: g.rem(16);
  font-weight: g.$font-weight-bold;
  line-height: 1.7 /* 27.2px */;
  letter-spacing: calc(3 / 16 * 1em);
  transition: all 0.3s;

  @include g.mq(md) {
    &:hover,
    &:active,
    &:focus {
      box-shadow: -5px -5px 15px 0px #2bcbc6, 5px 5px 15px 0px #2188de;
    }
  }
}
