@use "@global" as g;

.drawer-content {
  width: g.rem(320);
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: #f7ba1a;
  z-index: 50;
  padding: g.rem(86) g.rem(40) g.rem(40);
  transform: translateX(100%);
  transition: transform 0.3s linear;

  &--checked {
    transform: translateX(0);
  }
}

.drawer-content__menu {
}

.drawer-content__link {
  display: block;
  padding-top: g.rem(14);
  padding-bottom: g.rem(14);
  text-align: right;
  font-size: g.rem(16);
  font-weight: g.$f-weight-bold;
  line-height: 1.7;
  letter-spacing: g.letter-spacing(3);
}

.drawer-content__button {
  margin-top: g.rem(14);
  text-align: right;
}
