@use "@global" as g;

.fade-in {
  opacity: 0;
  transition: opacity 1s;

  &.is-in-view {
    opacity: 1;
  }
}

.fade-in-up {
  opacity: 0;
  transform: translateY(g.rem(24));
  transition: opacity 1s, transform 1s;

  &.is-in-view {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-down {
  opacity: 0;
  transform: translateY(g.rem(-24));
  transition: opacity 1s, transform 1s;

  &.is-in-view {
    opacity: 1;
    transform: translateY(0);
  }
}
