/* ダブレット、PCサイズの表示 */
@media screen and (min-width: 768px) {
  /* 共通クラス */

  /* Header */
  .header {
    padding: 16px;
  }

  .header-inner {
    max-width: 1080px;
    padding: 0 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .header-logo {
    margin: 0;
  }

  .header-nav-list {
    gap: 40px;
  }

  .header-nav-link {
    transition: opacity 0.3s;
  }

  .header-nav-link:hover {
    opacity: 0.7;
  }

  /* About */
  .about {
    padding: 100px 0;
  }

  .about-contents {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .about-img {
    width: 300px;
  }

  .about-text {
    font-size: 15px;
  }

  .about-text + .about-text {
    margin-top: 30px;
  }

  .about-text-contents {
    margin-top: 0;
  }

  /* Menu */
  .menu {
    padding: 0 0 100px;
  }

  .menu-list {
    display: flex;
    gap: 20px;
  }

  .menu-item + .menu-item {
    margin-top: 0;
  }

  /* Shop */
  .shop {
    padding: 60px 0;
    background-image: url("../img/bg-shop.png");
  }
  .shop-inner {
    max-width: 600px;
    margin: 0 auto;
  }

  /* Form */
  .form {
    display: flex;
    gap: 20px;
  }

  .form-submit {
    margin-top: 0;
  }

  .form-submit:hover {
    opacity: 0.7;
    transition: opacity 0.3s;
    cursor: pointer;
  }

  /* Footer */
  .footer-text {
    margin-top: 12px;
  }

  .footer-nav-list {
    gap: 40px;
  }

  .footer-copyright {
    font-size: 13px;
  }
}
