@charset "UTF-8";
/*================================================================
Chrome/Firefox/Edge/Safariなど、各ブラウザはそれぞれデフォルトで効くCSSを持っています。
何もしないと見え方が微妙に変わるので、デフォルトのCSSをリセットして
ブラウザごとの表示の差異をなくすために書くのが「リセットCSS」です。
================================================================*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
  display: block;
}

ol,
ul {
  list-style: none;
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
}

/* >>> 共通スタイル */
body {
  font-family: "Josefin Sans", "Noto Sans JP", sans-serif;
  letter-spacing: 0.05em;
  color: #3c301e;
}

img {
  width: 100%;
}

.inner {
  padding: 0 40px;
}
@media screen and (min-width:768px) {
  .inner {
    max-width: 1080px;
    padding: 0 40px;
    margin: 0 auto;
  }
}

.section-heading {
  text-align: center;
  margin-bottom: 40px;
}

.section-heading-l {
  color: #fff;
}

.section-heading-main {
  display: block;
  font-size: 40px;
}
@media screen and (min-width:768px) {
  .section-heading-main {
    font-size: 64px;
  }
}

.section-heading-sub {
  display: block;
  font-size: 12px;
}

/* <<< 共通スタイル */
/* >>> header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(241, 238, 228, 0.25);
  width: 100%;
  text-align: center;
  padding: 12px;
}

.header-logo {
  width: 200px;
  margin: 0 auto;
}

.header-nav {
  margin-top: 10px;
}

.header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 22px;
}

.header-nav-link {
  color: #fff;
}

/* <<< header */