@use "@global" as g;

.qa {
  padding-top: g.rem(60);
  padding-bottom: g.rem(60);
  @include g.mq(md) {
    padding-top: g.rem(100);
    padding-bottom: g.rem(100);
  }
}

.qa__inner {
  @include g.mq(md) {
    max-width: g.rem(800 + g.$l-pc-padding * 2);
    margin: 0 auto;
  }
}

.qa__box-wrapper {
  margin-top: g.rem(52);
  display: flex;
  flex-direction: column;
  gap: g.rem(42);
  @include g.mq(md) {
    margin-top: g.rem(74);
  }
}

.qa__box {
}
