.section {
  padding: 48px 0;
}

.section__inner {
  padding: 0 32px;
}

.section__head {
  margin-bottom: 32px;

  &--center {
    text-align: center;
  }
}

.section__head-main {
  display: block;
  font-size: 40px;
  letter-spacing: 0.1em;
}

.section__head-sub {
  display: block;
  font-size: 11px;
}

.section__lead-text {
  font-size: 16px;
  line-height: 1.6;
}

.section__contents {
  margin-top: 40px;
}
