@use "@global" as g;

.p-feature {
  padding-block-start: calc(96 * var(--rem));
}

.p-feature__inner {
}

.p-feature__title {
}

.c-sectionTitle {
}

.p-feature__cardList {
  margin-block-start: calc(46 * var(--rem));
  display: grid;
  gap: calc(50 * var(--rem));
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, calc(345 * var(--rem)))
  );
  justify-content: center;
  @include g.mq(md) {
    grid-template-columns: repeat(auto-fit, min(calc(340 * var(--rem))));
    gap: calc(70 * var(--rem));
  }
  @include g.mq(xl) {
    gap: calc(90 * var(--rem));
  }
}

.p-feature__card {
}

.p-featureCard {
  --_shadow-color: 96, 96, 96, 0.16;
  background: #fff;
  box-shadow: 3px 3px 15px 0px rgba(var(--_shadow-color));
}

.p-featureCard__inner {
}

.p-featureCard__img {
}

.p-featureCard__text {
  padding-block: calc(26 * var(--rem));
  padding-inline: calc(26 * var(--rem));
  text-align: center;
  font-size: calc(16 * var(--rem));
  font-weight: var(--font-weight-regular);
  line-height: 1.7;
}
