@use "@global" as g;

.p-blog {
  padding-top: g.rem(60);
  padding-bottom: g.rem(60);
  @include g.mq(md) {
    padding-top: g.rem(100);
    padding-bottom: g.rem(100);
  }
}

.p-blog__inner {
  padding-left: g.rem(30);
  padding-right: g.rem(38);
  @include g.mq(md) {
    padding-right: g.rem(47);
    padding-left: g.rem(47);
  }
  @include g.mq(xl) {
    padding-right: g.$l-pc-padding;
    padding-left: g.$l-pc-padding;
  }
}

.p-blog__title {
  display: flex;
  flex-direction: column;
  gap: g.rem(2);
  @include g.mq(md) {
    flex-direction: row;
    gap: g.rem(28);
  }
}

.p-blog__title-en {
  color: var(--color-main3);
  font-family: var(--font-family-en);
  font-size: g.rem(36);
  font-weight: g.$font-weight-bold;
  line-height: 1.7;
  letter-spacing: g.l-spacing(10);
}

.p-blog__title-ja {
  color: var(--color-main4);
  font-size: g.rem(14);
  line-height: 1.7;
  letter-spacing: g.l-spacing(19);
}

.p-blog__cards {
  margin-top: g.rem(46);
  display: flex;
  flex-direction: column;
  gap: g.rem(16);
  max-width: g.rem(500);
  margin: 0 auto;
  @include g.mq(md) {
    max-width: initial;
    margin: initial;
    margin-top: g.rem(60);
    flex-direction: row;
    flex-wrap: wrap;
    gap: g.rem(34) g.rem(20);
  }

  .p-blog-card {
    @include g.mq(md) {
      width: calc(50% - g.rem(20) / 2);
    }
    @include g.mq(xl) {
      width: calc(33.3% - g.rem(20) * 2 / 3);
    }
  }
}

.p-blog__button {
  margin-top: g.rem(46);
  text-align: center;
  @include g.mq(md) {
    margin-top: g.rem(60);
  }
}
