@use "@global" as g;

.p-news {
  padding-top: g.rem(60);
  padding-bottom: g.rem(60);
  @include g.mq(md) {
    padding-top: g.rem(100);
    padding-bottom: g.rem(100);
  }
}

.p-news__inner {
}

.l-inner {
}

.p-news__title-wrapper {
  text-align: center;
}

.p-news__title {
  display: inline-block;
  color: var(--color-main6);
  font-family: var(--font-family-en);
  font-size: g.rem(30);
  font-weight: g.$font-weight-bold;
  line-height: 1.7;
  letter-spacing: g.l-spacing(10);
  position: relative;
  width: fit-content;
  padding-bottom: g.rem(9);

  &::before {
    content: "";
    background: var(--color-sub);
    position: absolute;
    bottom: 0;
    left: 50%;
    width: g.rem(60);
    height: g.rem(3);
    transform: translateX(-50%);
  }
}

.p-news__content {
  margin-top: g.rem(46);
  @include g.mq(md) {
    margin-top: g.rem(60);
  }
}

.p-news__article-list {
  display: flex;
  flex-direction: column;
}

.p-news-article {
  border-bottom: 1px solid #e3e3e3;
}

.p-news-article__link {
}

.p-news-article__box {
  padding: g.rem(10) 0 g.rem(13) 0;
  @include g.mq(md) {
    display: flex;
    gap: g.rem(30);
    padding: g.rem(12) 0;
  }
}

.p-news-article__head {
  @include g.mq(md) {
    min-width: g.rem(119);
  }
}

.p-news-article__time {
  font-size: g.rem(14);
  line-height: 1.7;
  @include g.mq(md) {
    flex-shrink: 0;
    font-size: g.rem(16);
  }
}

.p-news-article__body {
  @include g.mq(md) {
    flex-grow: 1;
  }
}

.p-news-article__text {
  color: var(--color-black3);
  font-size: g.rem(15);
  line-height: 1.7;
  @include g.mq(md) {
    font-size: g.rem(16);
  }
}

.p-news__footer {
  @include g.mq(md) {
    margin-top: g.rem(26);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.p-news__pagination {
  margin-top: g.rem(46);
  display: flex;
  gap: g.rem(20);
  justify-content: center;
  @include g.mq(md) {
    margin-top: 0;
  }
}

.p-news__pagination__item {
  color: var(--color-gray);
  font-family: var(--font-family-en);
  font-size: g.rem(18);
  font-weight: g.$font-weight-medium;
  line-height: 1;
  letter-spacing: g.l-spacing(8);
  width: g.rem(36);
  height: g.rem(36);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid currentColor;
}

.p-news__pagination__prev,
.p-news__pagination__next {
  width: g.rem(36);
  height: g.rem(36);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-gray);

  img {
    width: g.rem(10);
  }
}

.p-news__pagination__prev {
}

.p-news__pagination__next {
}

.p-new__button {
  margin-top: g.rem(30);
  text-align: center;
  @include g.mq(md) {
    margin-top: 0;
  }

  a {
    display: inline-block;
    color: var(--color-main7);
    text-align: center;
    font-size: g.rem(16);
    font-weight: g.$font-weight-bold;
    line-height: 1.7;
    letter-spacing: calc(3 / 16 * 1em);
    border: 1px solid var(--color-main7);
    border-radius: g.rem(2);
    padding: g.rem(5 - 1) g.rem(22.5 - 1);
  }
}
