@charset "UTF-8";

* {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
aside,
figure,
figcaption {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  color: #082b48;
  line-height: 1.6;
  background-color: #082b48;
}

.section {
  margin: 60px auto 0;
  width: 500px;
  max-width: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  color: #082b48;
  text-align: center;
}

.title {
  line-height: 1.8;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
}

.btn {
  margin-top: 15px;
  display: inline-block;
  font-weight: bold;
  background-color: #082b48;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-size: 20px;
  padding: 15px 20px;
  width: 140px;
  max-width: 100%;
}
.btn:hover {
  opacity: 0.7;
}

.btn-register {
  background-color: #ec6d64;
}

.header {
  height: 80px;
  background: #fff;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  display: flex;
  align-items: center;
}

.header__logo {
  font-size: 18px;
  font-weight: 700;
  padding-left: 37px;
  position: relative;
}
.header__logo::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 35px;
  height: 35px;
  background-image: url(../img/logo.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
